
RewriteEngine On

RewriteCond %{REQUEST_METHOD} =DELETE	[NC]
RewriteRule ^alumno$			alumno_delete.php [END]

RewriteCond %{REQUEST_METHOD} =PUT	[NC]
RewriteRule ^alumno$			alumno_put.php [END]

#RewriteRule ^pepe/?	holaMundo.php
RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^pepe/([a-z]*)/([a-z0-9]*)/?	holaMundo.php?parametro1=$1&parametro2=$2 [END]
RewriteRule ^alumno/?$				alumno_get.php		[END]
RewriteRule ^alumno/([0-9]*)$			alumno_get.php?id=$1	[END]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^alumno/?$				alumno_post.php [END]

